<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>addBookServlet</servlet-name>
        <servlet-class>za.ac.tut.web.addBookServlet</servlet-class>
        <run-as>
            <role-name>librarian</role-name>
        </run-as>
    </servlet>
    <servlet>
        <servlet-name>LandBookServlet</servlet-name>
        <servlet-class>za.ac.tut.web.LandBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveBookServlet</servlet-name>
        <servlet-class>za.ac.tut.web.RemoveBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addVisitorServlet</servlet-name>
        <servlet-class>za.ac.tut.web.addVisitorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LibrianLoginServlet</servlet-name>
        <servlet-class>za.ac.tut.web.LibrianLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addBookServlet</servlet-name>
        <url-pattern>/addBookServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LandBookServlet</servlet-name>
        <url-pattern>/LandBookServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveBookServlet</servlet-name>
        <url-pattern>/RemoveBookServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addVisitorServlet</servlet-name>
        <url-pattern>/addVisitorServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibrianLoginServlet</servlet-name>
        <url-pattern>/LibrianLoginServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
